* {
  margin: 0%;
}

body {
  background: #f5f6fa;
}

.app {
  display: flex;
  justify-content: space-evenly;
  padding: 20px;
}

.app__header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 20px;
}

.app__left {
  flex: 0.9;
}

.table {
  margin-top: 20px;
  overflow: scroll;
  height: 400px;
  color: #6a5d5d;
}

.table tr {
  display: flex;
  justify-content: space-between;
}

.table td {
  padding: 0.5rem;
}

.table tr:nth-of-type(odd) {
  background-color: #f3f2f8;
}

/* .app__dropdown {
  margin-top: 20px !important;
} */

.app__right {
  display: flex;
  flex-direction: column;
}

.app__right .MuiCardContent-root {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
}

.app__graph {
  flex-grow: 1;
}

.app__stats {
  display: flex;
  justify-content: space-between;
}

.app__graphTitle {
  margin-top: 20px;
  margin-bottom: 20px;
}

@media(max-width: 990px) {
  .app {
    flex-direction: column;
  }
}

.app__title{
  color: red;
}